.navPanel {
    background-color: #1a202e;
    width: 72px;
    max-height: 100vh;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.6s ease-in-out;
    overflow: hidden;
}
.openNav {

}
.logo {
    width: 50px;
    height: 50px;
    margin: 14px auto auto auto;
}
.openNavGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.hideMenuText {
    font-size: 14px;
    transition: 'width 0.6s ease-in-out ';
    opacity: 0;
    visibility: hidden;
    color: #fff;
    font-family: 'Roboto; sans-serif';
    width: 110px;
}
.openNavBtn {
    height: 50px;
    border-radius: 50%;
}
.arrowIcon {
    color: white;
    height: 16px;
}
.line {
    width: 95%;
    opacity: .2;
    margin-top: 20px;
}
.navBtn {
    width: 100%;
    height: 76px;
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 25px;
    background-color: #1a202e;
    &:hover {
        background-color: #333c51;
    }
}
.openNav {
    width: 240px;
}
.showText {
    opacity: 1;
    visibility: visible;
}
.rotateArrow {
    transform: rotate(180deg);
}
.navImg {
    margin: 0;
    padding: 0;
    color:#AAB8D4
}
.btnText {
    color: #fff;
    text-transform: none;
    margin-left: 30px;
    font-weight: normal;
    width: 100%;
    text-align: left;
    overflow: hidden;
    min-width: 150px;
}
.active {
    background-color: #333c51;
}