.card {
    background-color: #fff;
    min-width: 310px;    
    /* width: auto; */
    height: 82px;
    box-shadow: 1px 1px 1px;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}
.card:hover {
    background-color: rgb(211, 205, 205);
}
.info {
    display: flex;
    flex-direction: row;
}

.icon {
    width: 20px;
    height: 20px;
}